.sign{
	margin: 100px auto;
	
}
body
{
	background-image:url(../img/back.jpg);
	background-repeat:no-repeat;
	
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
.back{
	
	height:100%; 
width:100%; 
}
